<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <h1>Welcome!</h1><br>
        <h2>Search an Artist!</h2><br>
        <form class="clearfix mb-4" method="GET" action="artist/:search">
          <div class="form-group">
            <input type="text" id="search" class="form-control" aria-describedby="artist-text" placeholder="Enter an Artist">
          </div>
          <button id="submit" class="btn btn-primary float-left">Submit</button>
        </form>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>