<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <h1>Welcome!</h1><br>
        <h2>Search a Genre!</h2><br>
        <form class="clearfix mb-4" action="GET">
          <div class="form-group">
            <input type="text" id="genre-text" class="form-control" aria-describedby="genre-text" placeholder="Enter a Genre">
          </div>
          <button id="submit" class="btn btn-primary float-left">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>