<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <img src="../images/LBK2GO_LOGO.png">
        <h1>Welcome!</h1><br>
        <form action="queue">
          <button class="btn btn-lg btn-primary" id="queue">View the Current Queue</button>
        </form><br>
        <h2>Pick a Search!</h2><br>
        <form action="title">
          <button class="btn btn-lg btn-primary search" id="title-search">Search by Song Title</button>
        </form><br>
        <form action="artist">
          <button class="btn btn-lg btn-primary search" id="artist-search">Search by Artist</button>
        </form><br>
        <form action="genre">
          <button class="btn btn-lg btn-primary search" id="genre-search">Search by Genre</button>
        </form><br>
        <form action="key">
          <button class="btn btn-lg btn-primary search" id="key-search">Search by Musical Key</button>
        </form>
      </div>
    </div>
  </div>
</div>
