<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <h1>Welcome!</h1><br>
        <h2>Select a Key!</h2><br>
        <form class="clearfix mb-4" method="/api/songs/:key" action="GET">
          <button id="key-a" class="btn btn-primary float-left">A</button>
        </form>
      </div>
    </div>
  </div>
</div>