<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <h1>Welcome!</h1><br>
        <h2>Select a Key!</h2><br>
        <form class="clearfix mb-4" method="GET" action="key/:search">
          <button id="a" class="btn btn-primary key-search">A</button>

          <button id="a-flat" class="btn btn-primary key-search">A♭</button>

          <button id="a-sharp" class="btn btn-primary key-search">A♯</button>

          <button id="b" class="btn btn-primary key-search">B</button>

          <button id="b-flat" class="btn btn-primary key-search">B♭</button>

          <button id="c" class="btn btn-primary key-search">C</button>

          <button id="c-sharp" class="btn btn-primary key-search">C♯</button>

          <button id="d" class="btn btn-primary key-search">D</button>

          <button id="d-flat" class="btn btn-primary key-search">D♭</button>

          <button id="d-sharp" class="btn btn-primary key-search">D♯</button>

          <button id="e" class="btn btn-primary key-search">E</button>

          <button id="e-flat" class="btn btn-primary key-search">E♭</button>

          <button id="f" class="btn btn-primary key-search">F</button>

          <button id="f-sharp" class="btn btn-primary key-search">F♯</button>

          <button id="g" class="btn btn-primary key-search">G</button>

          <button id="g-flat" class="btn btn-primary key-search">G♭</button>

          <button id="g-sharp" class="btn btn-primary key-search">G♯</button>
        </form>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>