<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <h1>Welcome!</h1><br>
        <h2>Select a Key!</h2><br>
        <form class="clearfix mb-4" method="GET" action="key/:search">
          <button id="key-a" class="btn btn-primary">A</button>

          <button id="key-a-flat" class="btn btn-primary">A♭</button>

          <button id="key-a-sharp" class="btn btn-primary">A♯</button>

          <button id="key-b" class="btn btn-primary">B</button>

          <button id="key-b-flat" class="btn btn-primary">B♭</button>

          <button id="key-c" class="btn btn-primary">C</button>

          <button id="key-c-sharp" class="btn btn-primary">C♯</button>

          <button id="key-d" class="btn btn-primary">D</button>

          <button id="key-d-flat" class="btn btn-primary">D♭</button>

          <button id="key-d-sharp" class="btn btn-primary">D♯</button>

          <button id="key-e" class="btn btn-primary">E</button>

          <button id="key-e-flat" class="btn btn-primary">E♭</button>

          <button id="key-f" class="btn btn-primary">F</button>

          <button id="key-f-sharp" class="btn btn-primary">F♯</button>

          <button id="key-g" class="btn btn-primary">G</button>

          <button id="key-g-flat" class="btn btn-primary">G♭</button>

          <button id="key-g-sharp" class="btn btn-primary">G♯</button>
        </form>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>