<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <h1>LBK2GO</h1><br>
        <h2>Select a Key!</h2><br>
        <form class="clearfix mb-4" method="GET" action="key/:search">
          <button id="A" class="btn btn-primary key-search">A</button>

          <button id="A-flat" class="btn btn-primary key-search">A♭</button>

          <button id="A-sharp" class="btn btn-primary key-search">A♯</button>

          <button id="B" class="btn btn-primary key-search">B</button>

          <button id="B-flat" class="btn btn-primary key-search">B♭</button>

          <button id="C" class="btn btn-primary key-search">C</button>

          <button id="C-sharp" class="btn btn-primary key-search">C♯</button>

          <button id="D" class="btn btn-primary key-search">D</button>

          <button id="D-flat" class="btn btn-primary key-search">D♭</button>

          <button id="D-sharp" class="btn btn-primary key-search">D♯</button>

          <button id="E" class="btn btn-primary key-search">E</button>

          <button id="E-flat" class="btn btn-primary key-search">E♭</button>

          <button id="F" class="btn btn-primary key-search">F</button>

          <button id="F-sharp" class="btn btn-primary key-search">F♯</button>

          <button id="G" class="btn btn-primary key-search">G</button>

          <button id="G-flat" class="btn btn-primary key-search">G♭</button>

          <button id="G-sharp" class="btn btn-primary key-search">G♯</button>
        </form>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>