<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <img src="../images/LBK2GO_LOGO.png">
        <h1>MC View</h1><br>
        <h2>Queue</h2><br>
          <div id="queue-area">
          </div>
      </div>
    </div>
  </div>
</div>