<div id="title">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-center">
        <h1>MC View!</h1><br>
        <h2>Queue</h2><br>
        {{!-- <form class="clearfix mb-4" method="/api/queue" action="GET">
        </form> --}}
          {{!-- {{#each songs}}
          <ul>
            <li>User: {{id}} Song: {{song}} Artist: {{artist}}</li>
          </ul>
          {{/each}}
            <button class="btn primary-btn">Delete!</button> --}}
          <div id="queue-area">
          </div>
      </div>
    </div>
  </div>
</div>