<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Songs</h5>
          <p>
            <strong>ID</strong>: {{Song.id}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{Song.song}}</p>
          <p>
            <strong>Artist:</strong> {{Song.artist}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
