.list-group-item {
  line-height: 2.5;
}

body {
  color: #bab5ab;
  background-color: #181a1b;
}

input[type="text"], textarea, .form-group {
  background-color: transparent;
}

.card-body, .card-title, .list-group, .list-group-item {
  background-color: #181a1b;
}

.select{
  margin-right: 10px;
}

#key-search {
  margin-bottom: 20px;
}